body {
  font-family: Arial, sans-serif;
  background-color: #c7e9ff;
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 880px;
  margin: auto;
  background-color: #ffffff;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #1f4e79;
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  color: #1f4e79;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 12px;
}


p {
  line-height: 1.7;
  color: #333;
  max-width: 720px;
}

ul {
  padding-left: 22px;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 14px;
  border: 2px solid #000;
}

a {
  color: #d62a2a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
